<!DOCTYPE html>
<html lang="ru">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>CVSite</title>
        <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="fixed-container">
                <!-- Выбор языка -->
                {% load i18n %}
                <div class="language-dropdown">
                    {% get_current_language as LANGUAGE_CODE %}
                    <button class="dropbtn">
                        {% if LANGUAGE_CODE == 'en' %}English
                        {% elif LANGUAGE_CODE == 'ru' %}Русский
                        {% elif LANGUAGE_CODE == 'ro' %}Română
                        {% else %}Language{% endif %} ▼
                    </button>
                    <div class="dropdown-content">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="/">
                            <button type="submit" name="language" value="en">English</button>
                            <button type="submit" name="language" value="ru">Русский</button>
                            <button type="submit" name="language" value="ro">Română</button>
                        </form>
                    </div>
                </div>
                <div class="social-links">
                    <a href="https://www.instagram.com/olesya_gh/" target="_blank">Instagram</a>
                    <a href="https://t.me/olesya_gh" target="_blank">Telegram</a>
                </div>
                <div>
                    <span>+373 676 177 04</span>
                    <span id="email" class="copy-email">ghincuolesea@gmail.com</span>
                </div>
            </div>
        </header>
        <section class="first-block">
            <div class="fixed-container">
                <h1>{% trans "Olesea Ghincu" %}</h1>
                <p>Python Backend Developer</p>
                <span class="level-badge">Junior</span>
            </div>
        </section>
        <section class="skills-section">
          <div class="fixed-container skills-container">

            <!-- Левая колонка: навыки -->
            <div class="skills-left">
              <h2>{% trans "Skills" %}</h2>
              <ul>
                <li>Python</li>
                <li>Django</li>
                <li>SQLite</li>
                <li>Pycharm, VsCode</li>
                <li>Git</li>
                <li>Linux</li>
                <li>{% trans "Basics of Flask" %}</li>
                <li>{% trans "Basics of HTML/CSS" %}</li>
              </ul>
            </div>

            <!-- Правая колонка: о себе -->
                <div class="skills-right about-me">
                  <p>{% trans "Hello! My name is Olesea, I am 20 years old, and I have been learning Python since 2022. I live in Moldova and speak Russian, Romanian, English (B2+) and Bulgarian. I strive to continue developing as a Python developer!" %}</p>
                  <div class="about-buttons">
                    <button class="light-button open-popup" data-popup="courses">{% trans "Completed Courses" %}</button>
                    <button class="light-button open-popup" data-popup="contests">{% trans "Contests" %}</button>
                  </div>
                </div>
            </div>
        </section>
        <!-- Попап: Курсы -->
        <div class="popup-container" id="courses">
            <div class="popup">
                <h2>{% trans "Completed Courses:" %}</h2>
                <!-- Третий курс -->
                <div class="popup-item">
                    <p class="course-title">2024-2025 - "Skillbox: Python Backend Developer"</p>
                    <p><span class="course-label">{% trans "Course Duration:" %}</span> {% trans "1 year" %}</p>
                    <p><span class="course-label">{% trans "Course Outcomes:" %}</span></p>
                    <ul class="course-results">
                        <li>{% trans "Learned the profession of Python developer and basic tools." %}</li>
                        <li>{% trans "Implemented a learning project: Telegram bot «Quote of the Day» (Python)." %}</li>
                        <li>{% trans "Started development of an online store project on Django." %}</li>
                    </ul>
                </div>
                <!-- Второй курс -->
                <div class="popup-item">
                    <p class="course-title">{% trans 'Summer 2022 - "Python-Junior Summer School"' %}</p>
                    <p><span class="course-label">{% trans "Course Duration:" %}</span> {% trans "2 months" %}</p>
                    <p><span class="course-label">{% trans "Course Outcomes:" %}</span></p>
                    <ul class="course-results">
                        <li>{% trans "Learned the basics of Django." %}</li>
                        <li>{% trans 'Participated in the implementation and presentation of a team project "Website for City Agronomists".' %}</li>
                    </ul>
                </div>
                <!-- Первый курс -->
                <div class="popup-item">
                    <p class="course-title">{% trans 'Spring 2022 - "Python for Beginners"' %}</p>
                    <p><span class="course-label">{% trans "Course Duration:" %}</span> {% trans "3 months" %}</p>
                    <p><span class="course-label">{% trans "Course Outcomes:" %}</span></p>
                    <ul class="course-results">
                        <li>{% trans "Learned the basics of Python." %}</li>
                        <li>{% trans "Implemented and presented a learning project «Budget Control» in Python using file operations in VS Code." %}</li>
                    </ul>
                </div>
                <button class="close-popup">{% trans "Close" %}</button>
            </div>
        </div>

        <!-- Попап: Конкурсы -->
        <div class="popup-container" id="contests">
            <div class="popup">
                <h2>{% trans "Participation in Contests:" %}</h2>
                <!-- Третья олимпиада -->
                <div class="popup-item">
                    <p class="course-title">{% trans "District Informatics Olympiads:" %}</p>
                    <p><span class="course-label">{% trans "2024:" %}</span> {% trans "1st place (12th grade)" %}</p>
                    <p><span class="course-label">{% trans "2023:" %}</span> {% trans "1st place (11th grade)" %}</p>
                    <p><span class="course-label">{% trans "2022:" %}</span> {% trans "1st place (10th grade)" %}</p>
                </div>
                <button class="close-popup">{% trans "Close" %}</button>
            </div>
        </div>

        <section>
            <div class="fixed-container">
                <h2>{% trans "Project Examples" %}</h2>
                <div class="works">
                    <div class="work-item">
                        <a href="#">
                            <img src="{% static 'portfolio/img/portfolio.jpg' %}" alt="portfolio">
                            <p>{% trans "This website was created by me independently." %}</p>
                        </a>
                    </div>
                    <div class="work-item bot-project">
                        <a href="https://github.com/Olesea05/QuoteBotTelegram" target="_blank">
                            <img src="{% static 'portfolio/img/bot.jpg' %}" alt="Telegram Bot">
                            <p>{% trans 'Telegram bot "Quote of the Day", sending daily quotes' %}</p>
                        </a>
                    </div>
                    <div class="work-item bot-project">
                        <a href="https://github.com/Olesea05/OnlineStoreLaserSmart" target="_blank">
                            <img src="{% static 'portfolio/img/shop.jpg' %}" alt="Telegram Bot">
                            <p>{% trans "Online store, currently under development" %}</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="fixed-container footer-container one-line">
                <div class="footer-contacts">
                    <p id="email-footer" class="copy-email">ghincuolesea@gmail.com</p>
                </div>
                <div class="footer-year">
                    <p>© <span id="year"></span> Olesea Ghincu</p>
                </div>
                <div class="footer-socials">
                    <a href="https://www.instagram.com/olesya_gh/" target="_blank">
                        <img src="{% static 'portfolio/img/inst.png' %}" alt="Instagram" class="icon-inst">
                    </a>
                    <a href="https://t.me/olesya_gh" target="_blank">
                        <img src="{% static 'portfolio/img/telegram.png' %}" alt="Telegram" class="icon-tg">
                    </a>
                    <a href="viber://chat?number=%2B37367617704" target="_blank">
                        <img src="{% static 'portfolio/img/viber.png' %}" alt="Viber" class="icon-viber">
                    </a>
                </div>
            </div>
        </footer>
        <script src="{% static 'portfolio/scripts/scripts.js' %}"></script>
    </body>
</html>
